.PostContainer {
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 3em;
  }

.Post{
    border: 1px black;
    width: 30em;
}

.Recentre {
    translate: 0% 50%;
    margin-bottom: 30%;
}

h1 {
    font-size: xx-large;
}

h3 {
    font-size:x-large;
}

p {
    font-size: large;
}