body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.fill {
    margin-top: 85px;
}

.container {
    position: relative;
    text-align: center;
    color: black;
    height: 100%;
}

.containerGeese {
    position: relative;
    color: black;
    background-color: black;
}

.whiteBar {
    position: relative;
    text-align: center;
    color: white;
    height: 1%;

}

.containerGrey {
    position: relative;
    text-align: center;
    color: darkgray;
    height: 100%;

}

.containerBlack {
    position: relative;
    text-align: centre;
    color: black;
    height: 400%;
}

.containerBlackFill {
    text-align: centre;
    color: black;
    height: 100vh;
}

.containerBlackMint {
    text-align: centre;
    color: black;
    height: 1080px;
}

.containerGreyFill {
    text-align: centre;
    color: darkgray;
    height: 80vh;
}

.backImg {
    color: black;
    height: 100%;
    width: 100%;
}


.centeredIMG {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 7vw;
    font-family:'Times New Roman', Times, serif;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 7vw;
    font-family:'Times New Roman', Times, serif;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
}

.imageBottom {
    position: relative;
    width: 100%;
}

.textSpacer {
    height: 10vh;
}

.centeredTopW {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 10vh;
    font-family:'Times New Roman', Times, serif;
    z-index: 10;
}

.centeredTop {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 10vh;
    font-family:'Times New Roman', Times, serif;
    z-index: 10;
}

@media screen and (min-width: 100px) {

    .containerGreyFill {
        height: 50vh;
    }

    .textSpacer {
        height: 10vh;
    }


    .centeredTop {
        /* font-size: calc(16px + 6 * ((100vw - 320px) / 680)); */
        font-size: 36px;
    }

    .centeredTopW {
        /* font-size: calc(16px + 6 * ((100vw - 320px) / 680)); */
        font-size: 36px;
    }

    .centeredBottom {
        /* font-size: calc(16px + 6 * ((100vw - 320px) / 680)); */
        font-size: 16px;
    }

    .centreRightText {
        font-size: 16px;
    }

    .centreLeftText {
        font-size: 16px;
    }

    .centered {
        font-size: 15px;
    }

    .middleRightText {
        font-size: 16px;
    }

    .middleLeftText {
        font-size: 16px;
    }
}

@media screen and (max-width: 550px) {

    .mintBtn {
        display: none;
    }
}


@media screen and (min-width: 1000px) {

    .containerGreyFill {
        height: 80vh;
    }

    .containerBlackFill {
        height: 100vh;
    }

    .centered {
        font-size: 32px;
    }


    .centeredTop {
        font-size: 62px;
    }

    .centeredTopW {
        font-size: 32px;
    }

    .centeredBottom {
        /* font-size: calc(16px + 6 * ((100vw - 320px) / 680)); */
        font-size: 32px;
        bottom: 10%;
    }

    .centreRightText {
        font-size: 32px;
    }

    .centreLeftText {
        font-size: 32px;
    }

    .middleRightText {
        font-size: 32px;
    }

    .middleLeftText {
        font-size: 12px;
    }
}

@media screen and (min-width: 3000px) {

    .containerGreyFill {
        height: 80vh;
    }

    .containerBlackFill {
        height: 100vh;
    }

    .centered {
        font-size: 62px;
    }


    .centeredTop {
        font-size: 62px;
    }

    .centeredTopW {
        font-size: 32px;
    }

    .centeredBottom {
        /* font-size: calc(16px + 6 * ((100vw - 320px) / 680)); */
        font-size: 32px;
        bottom: 10%;
    }

    .centreRightText {
        font-size: 32px;
    }

    .centreLeftText {
        font-size: 32px;
    }

    .middleRightText {
        font-size: 32px;
    }

    .middleLeftText {
        font-size: 12px;
    }
}

.centeredBottom {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2vw;
    font-family:'Times New Roman', Times, serif;
    z-index: 10;
}


.centreRight {
    position:absolute;
    top: 10vh;
    right: 10vh;
    width: 30%;
    color: white;
}

.centreLeft {
    position:absolute;
    top: 10vh;
    left: 10vh;
    width: 30%;

    color: white;
}

.middleLeftText {
    position:absolute;
    top: 40%;
    left: 5%;
    width: 30%;
    color: white;
    font-size: 2vw;
    font-family:'Times New Roman', Times, serif;
    z-index: 10;
}

.middleRightText {
    position:absolute;
    top: 39%;
    right: 5%;
    width: 30%;
    color: white;
    font-size: 2vw;
    font-family:'Times New Roman', Times, serif;
    z-index: 10;
}

.centreRightText {
    position: absolute;
    top: 35%;
    left: 20%;
    color: black;
    font-size: 2vw;
    font-family:'Times New Roman', Times, serif;
    z-index: 10;
}

.centreLeftText {
    position: absolute;
    top: 35%;
    right: 20%;
    color: black;
    font-size: 2vw;
    font-family:'Times New Roman', Times, serif;
    z-index: 10;
}

.list {
    position: sticky;
    font-size:x-large;
    font-family:'Times New Roman', Times, serif;
}

.fillGrey {
    background-color: #D5D3D5;
    width: 100%;
}

.fillBlack {
    background-color: black;
    width: 100%;
}


.mintBtn {
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
    color: white;
}

.mintBtn2 {
    position: absolute;
    margin-top: 40vh;
    margin-left: 5%;

    z-index: 10;

}

.mintBtn .btn {
    margin: 6px;
}

.flockBtn {
    position: absolute;
    margin-left: 80%;
    margin-top: 5%;
    color: white;
}

.flockBtn .btn {
    margin: 6px;
}